spring:
  application:
    name: sagnus-bc-corp

  datasource:
    url: jdbc:postgresql://localhost:5432/sagnus
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        globally_quoted_identifiers: true
        default_schema: sagnus
    open-in-view: false

  flyway:
    enabled: true
    schemas: sagnus
    baseline-on-migrate: true

server:
  port: 8080
