spring:
  application:
    name: sagnus-bc-corp
  datasource:
    url: ${SAGNUS_DB_URL:jdbc:postgresql://localhost:5432/sagnus}
    username: ${SAGNUS_DB_USER:postgres}
    password: ${SAGNUS_DB_PASS:postgres}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    open-in-view: false

server:
  port: ${SAGNUS_CORP_PORT:8082}
