spring:
  application:
    name: sagnus-bc-auth
  datasource:
    url: ${SAGNUS_DB_URL:jdbc:postgresql://localhost:5432/sagnus}
    username: ${SAGNUS_DB_USER:postgres}
    password: ${SAGNUS_DB_PASS:postgres}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

server:
  port: ${SAGNUS_AUTH_PORT:8083}

jwt:
  secret: ${SAGNUS_JWT_SECRET:TROQUE-ISSO-POR-UM-SEGREDO-GRANDE-32+CHARS-PELO-MENOS}
  accessMinutes: ${SAGNUS_JWT_ACCESS_MINUTES:30}
  refreshDays: ${SAGNUS_JWT_REFRESH_DAYS:7}
  issuer: ${SAGNUS_JWT_ISSUER:sagnus}
